$arrow-right: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' id='_24x24_On_Light_Next' data-name='24x24/On Light/Next' xmlns='http://www.w3.org/2000/svg'%3E%3Crect id='view-box' width='24' height='24' fill='%23141124' opacity='0'/%3E%3Cpath id='Shape' d='M10.22,9.28a.75.75,0,0,1,0-1.06l2.72-2.72H.75A.75.75,0,0,1,.75,4H12.938L10.22,1.281A.75.75,0,1,1,11.281.22l4,4a.749.749,0,0,1,0,1.06l-4,4a.75.75,0,0,1-1.061,0Z' transform='translate(4.25 7.25)' fill='%23141124'/%3E%3C/svg%3E";
$eigengrau: #16161d;
$cosmic-latte: #fff8e7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow: hidden;
  font-family: sans-serif;

  &.hide-cursor {
    cursor: none;
  }

  * {
    &:focus {
      outline: 1px solid $cosmic-latte;
    }
  }
}

canvas {
  max-width: 100%;
}

#moth {
  position: absolute;
  inset: 0;
  margin: auto;
  scale: 0.69;
  width: 800px;
  max-width: 100vmax;

  path {
    stroke-dasharray: 5000;
    stroke-dashoffset: 3800;
    animation: animatePath 5s ease-in-out infinite;
  }
}

.fullscreen {
  &-wrapper {
    position: fixed;
    top: 8px;
    left: 8px;
    z-index: 2;
    transform: translateX(calc(-100% + 36px));
    transition: transform 0.2s;

    &-inner {
      display: flex;
      gap: 16px;
    }

    &.show {
      transform: translateX(0);

      .fullscreen-arrow {
        transform: scaleX(-1);
      }
    }
  }
  &-controls {
    color: $cosmic-latte;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background: $eigengrau;
    border: 2px solid $cosmic-latte;
    border-radius: 4px;
    transition: box-shadow 0.2s;

    &:hover,
    &:focus {
      box-shadow: 0 0 10px 0 rgba($cosmic-latte, 0.4);
    }

    p {
      font-size: 20px;
    }

    label {
      display: block;
    }

    .moth-colors {
      display: flex;
      justify-content: space-between;
      gap: 4px;

      > div {
        gap: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  &-btn {
    font-size: 16px;
    border: none;
    background: $cosmic-latte;
    color: $eigengrau;
    padding: 8px 16px;
    border-radius: 100vw;
    cursor: pointer;
    transition: box-shadow 0.2s;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.4);
    }
  }
  &-arrow {
    order: 1;
    padding: 0;
    width: 40px;
    font-size: 0;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url($arrow-right) no-repeat center / 50px transparent;
    cursor: pointer;
    filter: brightness(10);
    transition: transform 0.5s, filter 0.2s;

    &:hover,
    &:focus {
      filter: brightness(20);
    }
  }
}

@keyframes animatePath {
  0% {
    stroke-dashoffset: 3800;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 3800;
  }
}
